body{
    background-color: aliceblue;
}
p, ul{
    font-size: medium;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
h1{
    font-size: x-large;
    font-style: italic;
    font-weight: 700;
}
h2{
    font-size: larger;
    font-style: italic;
    font-weight: 700;
}